.bg-primary-blue {
  background-color: #093fb4;
}

.nav-link {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  display: inline-block;
  transition: all 0.5s ease-in-out !important;
  letter-spacing: 1.2px;
  font-weight: 700;
}

.nav-link:hover {
  letter-spacing: 3px;
}

.navbar .nav-link {
  position: relative;
  margin-left: 1rem;
  transition: color 0.3s ease;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
  color: #ffd8d8;
}

.font-noto {
  font-family: "noto serif", serif;
  font-size: 1.3rem;
  text-transform: uppercase;
  font-weight: 700;
}
